In [52]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [53]:
# Read the excel file into a pandas DataFrame
df = pd.read_excel('Resources/IBM-Watson-HR-dataset.xlsx', sheet_name='Data')

In [54]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [55]:
#look for columns that could potentially be removed
print("Column headings:")
print(df.columns)

Column headings:
Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [56]:
# drop employee count because all the values are 1 so it's not needed
df = df.drop(["EmployeeCount"], axis=1)

In [57]:
#Everyone here works 80hours in two weeks, so let's drop this column too
df["StandardHours"].value_counts()

80    1470
Name: StandardHours, dtype: int64

In [58]:
#drop standardhours
df = df.drop(["StandardHours"], axis=1)

In [59]:
#investigate "Over18" and "OverTime" columns - are they needed?
df["Over18"].value_counts()
#we have 1,470 total rows with the same value so drop this

Y    1470
Name: Over18, dtype: int64

In [60]:
#drop Over18
df = df.drop(["Over18"], axis=1)

In [61]:
df["OverTime"].value_counts()
#keep OverTime because it has mixed values

No     1054
Yes     416
Name: OverTime, dtype: int64

In [62]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1024.865306,2.721769,65.891156,2.729932,2.063946,2.728571,...,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,602.024335,1.093082,20.329428,0.711561,1.106940,1.102846,...,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,491.250000,2.000000,48.000000,2.000000,1.000000,2.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1020.500000,3.000000,66.000000,3.000000,2.000000,3.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1555.750000,4.000000,83.750000,3.000000,3.000000,4.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,2068.000000,4.000000,100.000000,4.000000,5.000000,4.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [63]:
#how much data do we have?
df.shape
#we have 1,470 rows and 32 columns

(1470, 32)

In [64]:
#Identify target column and explore its unique values
df["Attrition"].value_counts()
#only two outcomes so this is a binary classification

No     1233
Yes     237
Name: Attrition, dtype: int64

In [65]:
# #convert Yes values to 1 and No values to 0
# df = df[(df["Attrition"] == "Yes") | (df["Attrition"] == "No")]
# mapping_dictionary = {"Attrition": { "Yes": 1, "No": 0 } }
# df = df.replace(mapping_dictionary)
# df.head()

In [66]:
#save work into a CSV file
df.to_csv("Resources/tree_filtered_data.csv",index=False)

In [67]:
#load in the CSV file
filtered_df = pd.read_csv("Resources/tree_filtered_data.csv")
print(filtered_df.shape)
filtered_df.head()

(1470, 32)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,3,4,1,6,3,3,2,2,2,2

In [68]:
print("Data types and their frequency\n{}".format(filtered_df.dtypes.value_counts()))
#we have 7 object columns that contain text which need to be converted to numeric

Data types and their frequency
int64     24
object     8
dtype: int64

In [69]:
#what kind of text are in these 7 columns?
object_columns_df = filtered_df.select_dtypes(include=["object"])
print(object_columns_df.iloc[0])

Attrition                     Yes
BusinessTravel      Travel_Rarely
Department                  Sales
EducationField      Life Sciences
Gender                     Female
JobRole           Sales Executive
MaritalStatus              Single
OverTime                      Yes
Name: 0, dtype: object

In [70]:
#explore the unique values in these 7 columns
cols = ['BusinessTravel', 'Department','EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
for name in cols:
    print(name,':')
    print(object_columns_df[name].value_counts(),'\n')
    
#Ordinal Values = BusinessTravel (it can be ordered or ranked)
#Nominal Values = Department, EducationField, Gender, JobRole, MaritalStatus, OT

BusinessTravel :
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

Department :
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

EducationField :
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

Gender :
Male      882
Female    588
Name: Gender, dtype: int64

JobRole :
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

MaritalStatus :
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

OverTime :
No     1054
Yes     416
Name: OverTime, dtype: int64

In [71]:
#convert ordinal value (businesstravel) to numeric
mapping_dictionary_2 = {
    "BusinessTravel": {
        "Non-Travel": 1,
        "Travel_Rarely": 2,
        "Travel_Frequently": 3
    }
}

filtered_df = filtered_df.replace(mapping_dictionary_2)
filtered_df[["BusinessTravel"]].head()

   BusinessTravel
0               2
1               3
2               2
3               3
4               2

In [72]:
#encode the nominal columns as dummy variables
nominal_columns = ["Department", "EducationField", "Gender", "JobRole", "MaritalStatus", "OverTime"]
dummy_df = pd.get_dummies(filtered_df[nominal_columns])
filtered_df = pd.concat([filtered_df, dummy_df], axis=1)
filtered_df = filtered_df.drop(nominal_columns, axis=1)
filtered_df.head()

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,Yes,2,1102,1,2,1,2,94,3,...,0,0,0,1,0,0,0,1,0,1
1,49,No,3,279,8,1,2,3,61,2,...,0,0,1,0,0,0,1,0,1,0
2,37,Yes,2,1373,2,2,4,4,92,2,...,0,0,0,0,0,0,0,1,0,1
3,33,No,3,1392,3,4,5,4,56,3,...,0,0,1,0,0,0,1,0,0,1
4,27,No,2,591,2,1,7,1,40,3,...,0,0,0,0,0,0,1,0,1,0

In [73]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 51 columns):
Age                                  1470 non-null int64
Attrition                            1470 non-null object
BusinessTravel                       1470 non-null int64
DailyRate                            1470 non-null int64
DistanceFromHome                     1470 non-null int64
Education                            1470 non-null int64
EmployeeNumber                       1470 non-null int64
EnvironmentSatisfaction              1470 non-null int64
HourlyRate                           1470 non-null int64
JobInvolvement                       1470 non-null int64
JobLevel                             1470 non-null int64
JobSatisfaction                      1470 non-null int64
MonthlyIncome                        1470 non-null int64
MonthlyRate                          1470 non-null int64
NumCompaniesWorked                   1470 non-null int64
PercentSalaryHike                    1470 non-null int64
PerformanceRating                    1470 non-null int64
RelationshipSatisfaction             1470 non-null int64
StockOptionLevel                     1470 non-null int64
TotalWorkingYears                    1470 non-null int64
TrainingTimesLastYear                1470 non-null int64
WorkLifeBalance                      1470 non-null int64
YearsAtCompany                       1470 non-null int64
YearsInCurrentRole                   1470 non-null int64
YearsSinceLastPromotion              1470 non-null int64
YearsWithCurrManager                 1470 non-null int64
Department_Human Resources           1470 non-null uint8
Department_Research & Development    1470 non-null uint8
Department_Sales                     1470 non-null uint8
EducationField_Human Resources       1470 non-null uint8
EducationField_Life Sciences         1470 non-null uint8
EducationField_Marketing             1470 non-null uint8
EducationField_Medical               1470 non-null uint8
EducationField_Other                 1470 non-null uint8
EducationField_Technical Degree      1470 non-null uint8
Gender_Female                        1470 non-null uint8
Gender_Male                          1470 non-null uint8
JobRole_Healthcare Representative    1470 non-null uint8
JobRole_Human Resources              1470 non-null uint8
JobRole_Laboratory Technician        1470 non-null uint8
JobRole_Manager                      1470 non-null uint8
JobRole_Manufacturing Director       1470 non-null uint8
JobRole_Research Director            1470 non-null uint8
JobRole_Research Scientist           1470 non-null uint8
JobRole_Sales Executive              1470 non-null uint8
JobRole_Sales Representative         1470 non-null uint8
MaritalStatus_Divorced               1470 non-null uint8
MaritalStatus_Married                1470 non-null uint8
MaritalStatus_Single                 1470 non-null uint8
OverTime_No                          1470 non-null uint8
OverTime_Yes                         1470 non-null uint8
dtypes: int64(25), object(1), uint8(25)
memory usage: 334.6+ KB

In [74]:
filtered_df.to_csv("Resources/tree_cleaned_data.csv", index=False)

In [75]:
# https://www.dataquest.io/blog/machine-learning-preparing-data/

In [76]:
df = pd.read_csv("Resources/tree_cleaned_data.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,Yes,2,1102,1,2,1,2,94,3,...,0,0,0,1,0,0,0,1,0,1
1,49,No,3,279,8,1,2,3,61,2,...,0,0,1,0,0,0,1,0,1,0
2,37,Yes,2,1373,2,2,4,4,92,2,...,0,0,0,0,0,0,0,1,0,1
3,33,No,3,1392,3,4,5,4,56,3,...,0,0,1,0,0,0,1,0,0,1
4,27,No,2,591,2,1,7,1,40,3,...,0,0,0,0,0,0,1,0,1,0

In [77]:
# Create a random forest classifier
from sklearn.ensemble import RandomForestClassifier

target = df["Attrition"]
data = df.drop("Attrition", axis=1)
feature_names = data.columns
data.head()

#split data into training and testing sets
from sklearn import tree
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    data, target, random_state=1)

In [78]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.782608695652174

In [79]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8288043478260869

In [80]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.06795692048920332, 'MonthlyIncome'),
 (0.051386218533450025, 'DailyRate'),
 (0.050051213845473494, 'Age'),
 (0.04409611817871886, 'EmployeeNumber'),
 (0.04378579708862031, 'DistanceFromHome'),
 (0.04355988616914144, 'YearsAtCompany'),
 (0.04284268149416368, 'TotalWorkingYears'),
 (0.04244999505682782, 'MonthlyRate'),
 (0.04145169823986218, 'HourlyRate'),
 (0.03215822463401259, 'OverTime_Yes'),
 (0.030865383792578523, 'EnvironmentSatisfaction'),
 (0.029697775208942106, 'YearsWithCurrManager'),
 (0.029182704681864857, 'OverTime_No'),
 (0.028907892390361886, 'NumCompaniesWorked'),
 (0.02821454245055672, 'PercentSalaryHike'),
 (0.02591177110076251, 'JobInvolvement'),
 (0.02577941256528241, 'YearsInCurrentRole'),
 (0.02452579106399531, 'TrainingTimesLastYear'),
 (0.024158544862030264, 'WorkLifeBalance'),
 (0.023630497961298014, 'StockOptionLevel'),
 (0.023000662065456173, 'YearsSinceLastPromotion'),
 (0.022365638178414, 'JobSatisfaction'),
 (0.019692682803901226, 'JobLevel'),
 (0.01910449924290442, 'BusinessTravel'),
 (0.018263442083886985, 'Education'),
 (0.018170120518522726, 'RelationshipSatisfaction'),
 (0.017427198994979312, 'MaritalStatus_Single'),
 (0.010656150612092121, 'JobRole_Sales Representative'),
 (0.008744643249252643, 'JobRole_Research Scientist'),
 (0.00862531878165945, 'Department_Sales'),
 (0.008419331813751653, 'Gender_Male'),
 (0.008281646335429178, 'Department_Research & Development'),
 (0.008119287657577835, 'MaritalStatus_Married'),
 (0.008041634036720485, 'Gender_Female'),
 (0.007948309463520584, 'JobRole_Laboratory Technician'),
 (0.007571488786977506, 'EducationField_Marketing'),
 (0.007558129953391094, 'EducationField_Medical'),
 (0.006997439476621734, 'JobRole_Sales Executive'),
 (0.006952150197084059, 'EducationField_Technical Degree'),
 (0.005988661371815514, 'EducationField_Life Sciences'),
 (0.005774234676679316, 'MaritalStatus_Divorced'),
 (0.004324092676809264, 'PerformanceRating'),
 (0.003207530376840993, 'EducationField_Other'),
 (0.002829463717328086, 'JobRole_Manufacturing Director'),
 (0.0025907828570465624, 'EducationField_Human Resources'),
 (0.0022899856424425445, 'JobRole_Healthcare Representative'),
 (0.0022338293741811345, 'Department_Human Resources'),
 (0.0018872011961357067, 'JobRole_Human Resources'),
 (0.0014165345636028169, 'JobRole_Manager'),
 (0.0009048394878285751, 'JobRole_Research Director')]